/* 날씨 API 관련 */
.sub-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-stack {
  display: flex;
  flex-direction: column;
  align-items: center; /* 날짜 가운데 정렬 */
  gap: 6px;
}

.date-weather {
  width: 52px;
  height: 52px;
  display: grid;
  place-items: center;
}
