/* src/layouts/AppLayout.css */
/* #root{
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
} */

.app-shell{
  /* width: min(980px, 92vw); */
  /* width: min(980px); */
  margin: 24px auto 60px;
  padding: 22px 18px 26px;

  background: rgba(255,255,255,0.75);
  backdrop-filter: blur(6px);
  border: 2px solid rgba(255,255,255,0.6);
  border-radius: 22px;
  box-shadow: var(--shadow);
}

@media (max-width: 480px) {
  .app-shell{
    margin: 5px auto 30px;
    padding: 18px 14px 22px;
  }
}
